{% extends 'magaz/base.html' %}
{% load static %}
{% block content %}
<body>
<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>Football jerseys<span>.</span></h2>
                    <a href="#">National team jerseys</a>
                    <a href="#">Football club jerseys</a>

                </div>
            </div>
            <div class="col-lg-8">
                <img src="{% static 'magaz/img/add.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Categories Page Section Begin -->
<section class="categories-page spad">
    <div class="container">
        <div class="categories-controls">
            <div class="row">
                <div class="col-lg-12">
                    <div class="categories-filter">
                        <div class="cf-left">
                            <form action="#">
                                <select class="sort">
                                    <option value="">Sort by</option>
                                    <option value="">Orders</option>
                                    <option value="">Newest</option>
                                    <option value="">Price</option>
                                </select>
                            </form>
                        </div>
                        <div class="cf-right">
                            <span>20 Products</span>
                            <a href="#">2</a>
                            <a href="#" class="active">4</a>
                            <a href="#">6</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="{% static 'magaz/img/products/img-9.jpg' %}" alt="">
                        <div class="p-status">new</div>
                        <div class="hover-icon">
                            <a href="{% static 'magaz/img/products/img-9.jpg' %}" class="pop-up"><img
                                    src="{% static 'magaz/img/icons/zoom-plus.png' %}"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>Argentina 2022 WC away jersey</h6>
                        </a>
                        <p>$125.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="{% static 'magaz/img/products/img-2.jpg' %}" alt="">
                                <div class="p-status sale">sale</div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>FC Barcelona third jersey 22/23</h6>
                                </a>
                                <p>$125.90</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src={% static 'magaz/img/products/img-3.jpg' %} alt="">
                                <div class="p-status">new</div>
                                <div class="hover-icon">
                                    <a href="{% static 'magaz/img/products/img-3.jpg' %}" class="pop-up"><img
                                            src="{% static 'magaz/img/icons/zoom-plus.png' %}" alt=""></a>
                                </div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>FC Barcelona third jersey 22/23</h6>
                                </a>
                                <p>$119.90</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="{% static 'magaz/img/products/img-6.jpg' %}" alt="">
                                <div class="p-status sale">sale</div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>Argentina 2022 WC home kit</h6>
                                </a>
                                <p>$125.50</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="{% static 'magaz/img/products/img-1.jpg' %}" alt="">
                                <div class="hover-icon">
                                    <a href="magaz/img/products/img-1.jpg' %}" class="pop-up"><img
                                            src="magaz/img/icons/zoom-plus.png' %}" alt=""></a>
                                </div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>FC Barcelona home jersey 22/23</h6>
                                </a>
                                <p>$125.90</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="{% static 'magaz/img/products/img-5.jpg' %}" alt="">
                        <div class="p-status">new</div>
                        <div class="hover-icon">
                            <a href="{% static 'magaz/img/products/img-5.jpg' %}" class="pop-up"><img
                                    src="{% static 'magaz/img/icons/zoom-plus.png' %}"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>Venezia 22-23 third jersey</h6>
                        </a>
                        <p>$122.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="{% static 'magaz/img/products/img-4.jpg' %}" alt="">
                        <div class="p-status popular">popular</div>
                        <div class="hover-icon">
                            <a href="{% static 'magaz/img/products/img-4.jpg' %}" class="pop-up"><img
                                    src="{% static 'magaz/img/icons/zoom-plus.png' %}"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>Venezia 22-23 Home jersey</h6>
                        </a>
                        <p>$122.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="{% static 'magaz/img/products/img-8.jpg' %}" alt="">
                        <div class="p-status popular">popular</div>
                        <div class="hover-icon">
                            <a href="{% static 'magaz/img/products/img-8.jpg' %}" class="pop-up"><img
                                    src="{% static 'magaz/img/icons/zoom-plus.png' %}"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>PSG away jersey 22-23</h6>
                        </a>
                        <p>$115.50</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="{% static 'magaz/img/products/img-10.jpg' %}" alt="">
                        <div class="p-status popular">popular</div>
                        <div class="hover-icon">
                            <a href="{% static 'magaz/img/products/img-10.jpg' %}" class="pop-up"><img
                                    src="{% static 'magaz/img/icons/zoom-plus.png' %}"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>Spain 2022 WC away kit</h6>
                        </a>
                        <p>$115.50</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="{% static 'magaz/img/products/img-11.jpg' %}" alt="">
                                <div class="p-status sale">sale</div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>Spain 2022 WC home kit</h6>
                                </a>
                                <p>$115.50</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="{% static 'magaz/img/products/img-12.jpg' %}" alt="">
                                <div class="p-status">new</div>
                                <div class="hover-icon">
                                    <a href="{% static 'magaz/img/products/img-12.jpg' %}" class="pop-up"><img
                                            src="{% static 'magaz/img/icons/zoom-plus.png' %}" alt=""></a>
                                </div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>Manchester United home jersey 22-23</h6>
                                </a>
                                <p>$119.90</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="{% static 'magaz/img/products/img-14.jpg' %}" alt="">
                                <div class="p-status sale">sale</div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>England 2022 WC away jersey</h6>
                                </a>
                                <p>$115.90</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="{% static 'magaz/img/products/img-15.jpg' %}" alt="">
                                <div class="hover-icon">
                                    <a href="{% static 'magaz/img/products/img-15.jpg' %}" class="pop-up"><img
                                            src="{% static 'magaz/img/icons/zoom-plus.png' %}" alt=""></a>
                                </div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>Tottenham home jersey 22-23</h6>
                                </a>
                                <p>$115.90</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="{% static 'magaz/img/products/img-13.jpg' %}" alt="">
                        <div class="p-status">new</div>
                        <div class="hover-icon">
                            <a href="{% static 'magaz/img/products/img-13.jpg' %}" class="pop-up"><img
                                    src="{% static 'magaz/img/icons/zoom-plus.png' %}"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>Anime jersey</h6>
                        </a>
                        <p>$122.90</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="more-product">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="#" class="primary-btn">Load More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Page Section End -->
</body>
{% endblock %}