<!DOCTYPE html>
<html lang="zxx">
{% load static %}


<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name}}</title>

    <!-- Google Font -->
    <link href="{% static 'https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap' %}" rel="stylesheet">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap' %}"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'magaz/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'magaz/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'magaz/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'magaz/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'magaz/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'magaz/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'magaz/css/style.css' %}" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Search model -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- Header Section Begin -->
<header class="header-section">
    <div class="container-fluid">
        <div class="inner-header">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'magaz/img/logo.png' %}" alt=""></a>
            </div>
            <div class="header-right">
                <img src="{% static 'magaz/img/icons/search.png' %}" alt="" class="search-trigger">
                <img src="{% static 'magaz/img/icons/man.png' %}" alt="">
                <a href="{% url 'shopping-cart' %}">
                    <img src="{% static 'magaz/img/icons/bag.png' %}" alt="">
                    <span>2</span>
                </a>
            </div>
            <div class="user-access">
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}">{{ username }} | Logout</a>
                {% else %}
                <a href="{% url 'register' %}">Register</a>
                <a href="{% url 'login' %}" class="in">Sign in</a>
                {% endif %}
            </div>
            <nav class="main-menu mobile-menu">
                <ul>
                    <li><a class="active" href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'shop' %}">Shop</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'productpage' %}">Product Page</a></li>
                            <li><a href="{% url 'shopping-cart' %}">Shopping Card</a></li>
                            <li><a href="{% url 'check-out' %}">Check out</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'productpage' %}">About</a></li>
                    <li><a href="{% url 'check-out' %}">Blog</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- Header Info Begin -->
<div class="header-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="header-item">
                    <img src="{% static 'magaz/img/icons/delivery.png' %}" alt="">
                    <p>Бесплатная доставка при заказе свыше 30 долларов в Казахстане</p>
                </div>
            </div>
            <div class="col-md-4 text-left text-lg-center">
                <div class="header-item">
                    <img src="{% static 'magaz/img/icons/voucher.png' %}" alt="">
                    <p>Студенческая скидка 20%</p>
                </div>
            </div>
            <div class="col-md-4 text-left text-xl-right">
                <div class="header-item">
                    <img src="{% static 'magaz/img/icons/sales.png' %}" alt="">
                    <p>Скидка 30% на футболки. Код использования: LM10</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header Info End -->
<!-- Header End -->
<!-- Hero Slider Begin -->

<section class="hero-slider">
    <div class="hero-items owl-carousel">
        <div class="single-slider-item set-bg" data-setbg="{% static 'magaz/img/slider-1.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>2022</h1>
                        <h2>Otoko no sekai.</h2>
                        <a href="#" class="primary-btn">See More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider-item set-bg" data-setbg="{% static 'magaz/img/slider-2.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>2022</h1>
                        <h2>Otoko no sekai..</h2>
                        <a href="#" class="primary-btn">See More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider-item set-bg" data-setbg="{% static 'magaz/img/slider-3.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>2022</h1>
                        <h2>Otoko no sekai..</h2>
                        <a href="#" class="primary-btn">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Slider End -->

<!-- Features Section Begin -->
<section class="features-section spad">
    <div class="features-ads">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-features-ads first">
                        <img src="{% static 'magaz/img/icons/f-delivery.png' %}" alt="">
                        <h4>Бесплатная доставка</h4>
                        <p>Доставка бесплатная жи есс. </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-features-ads second">
                        <img src="{% static 'magaz/img/icons/coin.png' %}" alt="">
                        <h4>100% Возврат денег</h4>
                        <p>Акшаны кайтарам, кидок емеспын. </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-features-ads">
                        <img src="{% static 'magaz/img/icons/chat.png' %}" alt="">
                        <h4>Онлайн-поддержка 24/7</h4>
                        <p>Поддержка топ. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features Box -->
    <div class="features-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-box-item first-box">
                                <img src="{% static 'magaz/img/f-box-1.jpg' %}" alt="">
                                <div class="box-text">
                                    <span class="trend-year">2022 WC jersey</span>
                                    <h2>Jewelry</h2>
                                    <span class="trend-alert">Brazil jersey</span>
                                    <a href="#" class="primary-btn">See More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="single-box-item second-box">
                                <img src="{% static 'magaz/img/f-box-2.jpg' %}" alt="">
                                <div class="box-text">
                                    <span class="trend-year">2022 WC jersey</span>
                                    <h2>jersey</h2>
                                    <span class="trend-alert">Manga style jersey</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-box-item large-box">
                        <img src="{% static 'magaz/img/f-box-3.jpg' %}" alt="">
                        <div class="box-text">
                            <span class="trend-year">2022</span>
                            <h2>Collection</h2>
                            <div class="trend-alert">Barcelona jersey</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features Section End -->

<!-- Latest Product Begin -->
<section class="latest-products spad">
    <div class="container">
        <div class="product-filter">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Latest Products</h2>
                    </div>
                    <ul class="product-controls">
                        <li data-filter="*">All</li>
                        <li data-filter=".dresses">Football club jerseys</li>
                        <li data-filter=".bags">National team jerseys</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" id="product-list">
            {% for product in products %}
            <div class="col-lg-3 col-sm-6 mix all dresses">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="{{product.image.url}}" alt=""></a>
                        <div class="p-status popular">popular</div>
                    </figure>
                    <div class="product-text">
                        <h6>{{product.name}}</h6>
                        <p>${{product.price}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Latest Product End -->

<!-- Lookbok Section Begin -->
<section class="lookbok-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 offset-lg-1">
                <div class="lookbok-left">
                    <div class="section-title">
                        <h2>2022 <br/>#otokono sekai</h2>
                    </div>
                    <p>Джайро следует за Ринго в его бревенчатую хижину, надеясь закончить бой. Джайро посылает
                        разрушительную атаку, направленную на ключицу Ринго, которая парализует всю левую сторону Ринго,
                        если он вступит в контакт. После того, как осколок дерева пронзает Ринго прямо под его левой
                        стороной плеча, Джайро убивает его, бросая один стальной шар прямо в Ринго. Перед смертью Ринго
                        произносит: "Добро пожаловать...в мир истинных мужчин." </p>
                    <a href="#" class="primary-btn look-btn">See More</a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="lookbok-pic">
                    <img src="{% static 'magaz/img/lookbok.jpg' %}" alt="">
                    <div class="pic-text">fashion</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Lookbok Section End -->

<!-- Logo Section Begin -->
<div class="logo-section spad">
    <div class="logo-items owl-carousel">
        <div class="logo-item">
            <img src="{% static 'magaz/img/logos/logo-1.png' %}" alt="">
        </div>
        <div class="logo-item">
            <img src="{% static 'magaz/img/logos/logo-2.png' %}" alt="">
        </div>
        <div class="logo-item">
            <img src="{% static 'magaz/img/logos/logo-3.png' %}" alt="">
        </div>
        <div class="logo-item">
            <img src="{% static 'magaz/img/logos/logo-4.png' %}" alt="">
        </div>
        <div class="logo-item">
            <img src="{% static 'magaz/img/logos/logo-5.png' %}" alt="">
        </div>
    </div>
</div>
<!-- Logo Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section spad">
    <div class="container">
        <div class="newslatter-form">
            <div class="row">
                <div class="col-lg-12">
                    <form action="#">
                        <input type="text" placeholder="Your email address">
                        <button type="submit">Subscribe to our newsletter</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-widget">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>About us</h4>
                        <ul>
                            <li>About Us</li>
                            <li>Community</li>
                            <li>Jobs</li>
                            <li>Shipping</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Customer Care</h4>
                        <ul>
                            <li>Search</li>
                            <li>Privacy Policy</li>
                            <li>2023 Lookbook</li>
                            <li>Shipping & Delivery</li>
                            <li>Gallery</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Our Services</h4>
                        <ul>
                            <li>Free Shipping</li>
                            <li>Free Returnes</li>
                            <li>Our Franchising</li>
                            <li>Terms and conditions</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Information</h4>
                        <ul>
                            <li>Payment methods</li>
                            <li>Times and shipping costs</li>
                            <li>Product Returns</li>
                            <li>Shipping methods</li>
                            <li>Conformity of the products</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-links-warp">
        <div class="container">
            <div class="social-links">
                <a href="https://www.instagram.com/leomessi/" target="blank" class="instagram"><i
                        class="fa fa-instagram"></i><span>instagram</span></a>
                <a href="https://ru.pinterest.com/" target="blank" class="pinterest"><i
                        class="fa fa-pinterest"></i><span>pinterest</span></a>
                <a href="https://www.facebook.com/borzii.alkash" target="blank" class="facebook"><i
                        class="fa fa-facebook"></i><span>facebook</span></a>
                <a href="https://twitter.com/AskarSocial" target="blank" class="twitter"><i
                        class="fa fa-twitter"></i><span>twitter</span></a>
                <a href="https://youtu.be/VEF2d6ZzKJ4" target="_blank" class="youtube"><i
                        class="fa fa-youtube"></i><span>youtube</span></a>
                <a href="https://www.tumblr.com/" target="_blank" class="tumblr"><i
                        class="fa fa-tumblr-square"></i><span>tumblr</span></a>
            </div>
        </div>

        <div class="container text-center pt-5">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                2023 Частичное или полное копирование информации с данного сайта для распространения на других ресурсах,
                в том числе и бумажных, строго запрещено. <i class="icon-heart color-danger"
                                                             aria-hidden="true"></i>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>


    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="{% static 'magaz/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'magaz/js/bootstrap.min.js' %}"></script>
<script src="{% static 'magaz/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'magaz/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'magaz/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'magaz/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'magaz/js/mixitup.min.js' %}"></script>
<script src="{% static 'magaz/js/main.js' %}"></script>
</body>

</html>